body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.navbar {
  background-color: aqua;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}
.nav-links a {
  text-decoration: none;
  margin: 0 5px;
  font-size: 12px;
}
.burger {
  display: none;
}

@media screen and (max-width: 640px) {
  .nav-links a {
    display: none;
  }
  .burger {
    display: block;
  }
}
